.cover__subtitle {
  font-size: 18px;
  line-height: 1.23;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto 245px;
  max-width: 360px;
}

@media screen and (max-width: 1183px) {
  .cover__subtitle {
    margin-bottom: 195px;
  }
}

@media screen and (max-width: 930px) {
  .cover__subtitle {
    margin-bottom: 115px;
  }
}

@media screen and (max-width: 730px) {
  .cover__subtitle {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 1.18;
  }
}

@media screen and (max-width: 450px) {
  .cover__subtitle {
    margin-bottom: 33px;
    font-size: 14px;
    line-height: 1.15;
    max-width: 288px;
    padding: 0 10px;
  }
}