.place__paragraph {
  font-size: 18px;
  line-height: 29px;
  margin: 0 0 26px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 930px) {
  .place__paragraph {
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 26px;
  }
}

@media screen and (max-width: 730px) {
  .place__paragraph {
    margin:0 16px 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    white-space: pre-line; /*Чтобы для разрешения 320px колличество строк и переносов соответствовало макету в Figme при проверке в Perfect pixel*/
  }
}
