.place__link {
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 1px solid white;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 730px) {
  .place__link {
    margin: 0 16px 32px;
  }
}